# В качестве разделителей строк в файлах решений необходимо использовать
# символ LF вместо последовательности CR LF, иначе при выполнении
# скопированных команд в консоль устройств в eNSP будут появляться
# пустые строки, так как eNSP считает последовательность CR LF
# двумя переносами строк, а не одним
Lab**/*.md text eol=lf
